:root {
  /* 
  ================
  COLORS 
  ================
  */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --green: #31d0aa;
  --dairy: #fcfcfc;

  /* 
  ==============
  FONTS
  ==============
  */
  --font-secondary: Raleway, sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--slate);
  letter-spacing: 0.02em;
}

/* 
=================
RESET
=================
 */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--slate);
}

button {
  cursor: pointer;
  padding: 0;
}

p {
  font-size: 16px;
}

/* 
===============
GENERAL
===============
 */
.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.section {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.address {
  font-style: normal;
}

.btn {
  color: var(--white);
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--ocean);
}

.btn-secondary {
  background-color: var(--cloud);
  color: var(--iris);
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  box-shadow: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--ocean);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.logo {
  font-family: var(--font-secondary);
  color: var(--iris);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: 24px 0;
}

/* 
===========
HEADER
===========
*/
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .header-container {
  display: flex;
  justify-content: space-between;
}

.header .nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .header .nav {
    justify-content: space-between;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .header .nav {
    column-gap: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .header .nav {
    column-gap: 76px;
  }
}

.header .logo .logo-item {
  color: var(--navy-blue);
}

.header .menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .header .menu-toggle {
    display: none;
  }
}

.header .menu-toggle .icon {
  fill: var(--navy-blue);
}

.header .nav-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

@media only screen and (max-width: 767px) {
  .header .nav-list {
    display: none;
  }
}

.header .nav-list .nav-item {
  padding: 24px 0;
}

.header .nav-list .nav-link {
  color: var(--navy-blue);
  font-weight: 500;
  line-height: 1.5;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header .nav-list .nav-link.active {
  color: var(--ocean);
}

.header .nav-list .nav-link.active::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  position: absolute;
  bottom: -1px;
  left: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .header .address {
    padding: 16px 0;
  }
}

.header .address-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px 40px;
}

@media only screen and (max-width: 767px) {
  .header .address-list {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .header .address-list {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 1158px) {
  .header .address-list .address-item {
    padding: 24px 0;
  }
}

.header .address-list .address-link {
  color: var(--slate);
  line-height: 1.5;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .header .address-list .address-link {
    font-size: 12px;
    line-height: 1.16;
  }
}

.header .nav-list .nav-link:active,
.header .address-list .address-link:active,
.header .nav-list .nav-link:hover,
.header .address-list .address-link:hover,
.header .nav-list .nav-link:focus,
.header .address-list .address-link:focus {
  color: var(--ocean);
}

/* 
===============
HERO SECTION 
===============
*/
.hero {
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-image@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 112px 0;
  max-width: 1440px;
  margin: 0 auto;
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-image@2x.jpg);
  }
}

.hero .headline {
  color: var(--white);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

@media only screen and (min-width: 428px) {
  .hero .headline {
    max-width: 320px;
  }
}

@media only screen and (min-width: 768px) {
  .hero .headline {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero .headline {
    margin-bottom: 48px;
  }
}

.hero .btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
}

/* 
=================
STRATEGY SECTION
=================
*/

.strategy-card {
  display: flex;
  gap: 72px 24px;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .strategy-card {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.strategy .strategy-item {
  flex-basis: 100%;
}

@media only screen and (min-width: 768px) {
  .strategy .strategy-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .strategy .strategy-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.strategy-icons {
  background-color: var(--cloud);
  padding: 24px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: none;
}

@media only screen and (min-width: 1158px) {
  .strategy-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.strategy .strategy-title {
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .strategy .strategy-title {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .strategy .strategy-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.strategy .strategy-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

@media only screen and (min-width: 1158px) {
  .strategy .strategy-text {
    font-weight: 400;
  }
}

/* 
================
WORK SECTION
================
*/

.work {
  padding-top: 0;
  display: none;
}

@media only screen and (min-width: 1158px) {
  .work {
    display: block;
  }
}

.work .work-headline {
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.work .work-list {
  display: flex;
  gap: 24px;
}

.work .work-list .work-image {
  flex-basis: calc((100% - 48px) / 3);
}

/* 
===================
TEAM SECTION
===================
 */
.team {
  background-color: var(--cloud);
}

.team .team-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 72px 24px;
  flex-direction: column;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .team-list {
    max-width: 264px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .team-list {
    max-width: 552px;
  }
}

@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.team .team-card {
  background-color: var(--white);
  text-align: center;
  flex-basis: 100%;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

@media only screen and (min-width: 768px) {
  .team .team-card {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .team .team-card {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.team .team-card .team-text {
  padding: 32px 0;
}

.team .team-card .team-text .team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team .team-card .team-text .team-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team .team-card .team-text .team-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team .team-card .team-text .team-icons .team-icon {
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team .team-card .team-text .team-icons .team-icon:hover,
.team .team-card .team-text .team-icons .team-icon:focus {
  background-color: var(--ocean);
}

.team .team-card .team-text .team-icons .team-icon .icon {
  fill: var(--cloud);
}

/* 
=================
CUSTOMERS SECTION
=================
 */
.customers .customers-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--navy-blue);
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.customers .customers-list {
  display: flex;
  gap: 72px 16px;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .customers .customers-list {
    max-width: 552px;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 768px) {
  .customers .customers-list {
    gap: 72px 24px;
  }
}

.customers .customers-icon {
  height: 88px;
  flex-basis: calc((100% - 16px) / 2);
}

@media only screen and (min-width: 768px) {
  .customers .customers-icon {
    flex-basis: calc((100% - 48px) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .customers .customers-icon {
    flex-basis: calc((100% - 120px) / 6);
  }
}

.customers .customers-icon .customers-link {
  border: 1px solid var(--light-slate);
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers .customers-icon .customers-link:hover,
.customers .customers-icon .customers-link:focus {
  border: 1px solid var(--ocean);
  color: var(--ocean);
}

.customers .customers-icon .customers-link:hover .icon,
.customers .customers-icon .customers-link:focus .icon {
  fill: var(--ocean);
}

.customers .customers-icon .customers-link .icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* 
======================
PORTFOLIO
======================
*/

/* 
=================
PROJECTS SECTION
=================
 */

.projects {
  padding-top: 96px;
}

.projects .buttons-list {
  display: flex;
  gap: 16px 24px;
  justify-content: center;
  margin-bottom: 72px;
}

@media only screen and (max-width: 767px) {
  .projects .buttons-list {
    flex-wrap: wrap;
    justify-content: start;
  }
}

.projects .projects-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .projects .projects-list {
    flex-direction: row;
  }
}

.projects .projects-list .project-card {
  flex-basis: 100%;
}

@media only screen and (min-width: 768px) {
  .projects .projects-list .project-card {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .projects .projects-list .project-card {
    flex-basis: calc((100% - 48px) / 3);
  }
}

.projects .projects-list .project-card .project-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .projects-list .project-card .project-link:hover,
.projects .projects-list .project-card .project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects .projects-list .project-card .project-link:hover .cover,
.projects .projects-list .project-card .project-link:focus .cover {
  transform: translateY(0%);
}

.projects .projects-list .project-card .project-image {
  position: relative;
  overflow: hidden;
}

.projects .projects-list .project-card .project-image .cover {
  position: absolute;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .projects-list .project-card .project-text {
  padding: 32px 16px;
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
}

.projects .projects-list .project-card .project-text .project-title {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.projects .projects-list .project-card .project-text .project-description {
  line-height: 1.5;
}

/* 
================
FOOTER SECTION
================
 */
.footer {
  background-color: var(--navy-blue);
  padding: 96px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
  gap: 72px 80px;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .footer .container {
    gap: 72px 24px;
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer .container {
    max-width: 582px;
    flex-wrap: wrap;
  }
}

.footer .footer-logo {
  line-height: 1.17;
  margin-bottom: 16px;
  display: block;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .footer .footer-logo,
  .footer .footer-socials-headline,
  .footer .footer-newsletter-headline {
    text-align: center;
  }
}

.footer .footer-logo .logo-item {
  color: var(--cloud);
}

.footer .footer-text {
  color: var(--cloud);
  line-height: 1.5;
  margin: 0px auto;
}

@media only screen and (max-width: 767px) {
  .footer .footer-text {
    max-width: 268px;
  }
}

@media only screen and (min-width: 768px) {
  .footer .footer-text,
  .footer .footer-socials {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .footer .footer-text {
    margin-right: 40px;
  }
}

.footer .footer-socials {
  margin: 0px auto;
}

@media screen and (max-width: 767px) {
  .footer .footer-socials {
    max-width: 268px;
  }
}

.footer .footer-socials-headline,
.footer .footer-newsletter-headline {
  font-size: 16px;
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer .footer-socials .social-icons {
  display: flex;
  gap: 16px;
}

.footer .footer-socials .social-icons .social-icon {
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .footer-socials .social-icons .social-icon:hover,
.footer .footer-socials .social-icons .social-icon:focus {
  background-color: var(--green);
}

.footer .footer-socials .social-icons .social-icon .icon {
  fill: var(--cloud);
}

.footer-newsletter {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .footer-newsletter {
    max-width: 398px;
    margin: 0 auto;
  }
}

.footer-newsletter--form .footer-form--wrapper {
  display: flex;
  align-items: center;
  gap: 16px 24px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-newsletter--form .footer-form--wrapper {
    flex-direction: row;
  }
}

.footer-newsletter--form .footer-form--wrapper .footer-input {
  min-width: 264px;
  background: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 4px;
  padding: 8px 16px;
  letter-spacing: 0.04em;
  font-size: 12px;
  line-height: 2;
  height: 40px;
  width: 100%;
}

.footer-newsletter--form .footer-form--wrapper .footer-input:focus {
  outline: transparent;
  box-shadow: transparent;
}

.footer-newsletter--form .footer-form--wrapper .footer-input::placeholder {
  color: var(--white);
}

.footer-newsletter--form .footer-form--wrapper .btn-footer {
  padding: 8px 24px;
  box-shadow: none;
  display: flex;
  gap: 16px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-newsletter--form .footer-form--wrapper .footer-input,
  .footer-newsletter--form .footer-form--wrapper .btn-footer {
    max-width: calc((100% - 24px) / 2);
  }
}

/*
==========
  MODAL
==========
*/
.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -70%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
}

.backdrop .modal {
  min-width: 95vw;
  min-height: 576px;
  padding: 72px 24px 24px 24px;
  background-color: var(--dairy);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  position: absolute;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 428px) {
  .backdrop .modal {
    min-width: 392px;
  }
}

@media only screen and (min-width: 768px) {
  .backdrop .modal {
    min-width: 408px;
  }
}

.backdrop .modal .heading {
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 18px;
}

.backdrop .close-button {
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .close-button:hover,
.backdrop .close-button:focus {
  background-color: var(--ocean);
  border: none;
}

.backdrop .close-button .close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .close-button:hover .close-icon,
.backdrop .close-button:focus .close-icon {
  fill: var(--white);
}

/*
===============
FORM
===============
*/

.form-label {
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}

.form-label.form-agreement {
  margin-bottom: 24px;
}

.form-wrapper {
  margin-bottom: 8px;
  position: relative;
}

.form-wrapper .form-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 11px 16px 11px 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-wrapper .form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: 400ms;
  pointer-events: none;
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  width: 100%;
  resize: none;
  margin-bottom: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text::placeholder {
  font-size: 12px;
  line-height: 1.16;
  color: rgba(46, 47, 66, 0.4);
}

.form-input:focus,
.form-text:focus {
  border: 1px solid var(--iris);
  outline: transparent;
  box-shadow: transparent;
}

.form-input:focus + .form-icon {
  fill: var(--iris);
}

.form-label.form-agreement .form-agreement--text {
  user-select: none;
}

.form-label.form-agreement .form-agreement--link {
  color: var(--iris);
  text-decoration: underline;
}

.form-label.form-agreement .checkbox-wrapper {
  position: relative;
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

@media only screen and (max-width: 427px) {
  .form-label.form-agreement .checkbox-wrapper {
    vertical-align: text-top;
    margin-bottom: 4px;
  }
}

.form-label.form-agreement .checkbox-wrapper .form-checkbox {
  appearance: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label.form-agreement .checkbox-wrapper .form-checkbox:checked {
  background-color: var(--iris);
  border-color: var(--iris);
}

.form-label.form-agreement .checkbox-wrapper .form-checkbox--custom {
  position: absolute;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.form-label.form-agreement
  .checkbox-wrapper
  .form-checkbox--custom
  .checkbox-icon {
  fill: transparent;
}

.form-label.form-agreement
  .checkbox-wrapper
  .form-checkbox:checked
  + .form-checkbox--custom
  .checkbox-icon {
  fill: var(--cloud);
}

.form-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
}

/* 
=============
MOBILE MENU
=============
*/
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 80px 40px;
  background-color: var(--white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  color: var(--white);
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container .mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}
.menu-container .mobile-menu--link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.menu-container .mobile-menu--link.active {
  color: var(--ocean);
}

.menu-container .mobile-contacts {
  display: flex;
  gap: 48px;
  flex-direction: column;
}

.menu-container .mobile-contacts .address-list {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.menu-container .mobile-contacts .address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.menu-container .mobile-contacts .address-item:first-child .address-link {
  color: var(--iris);
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
}

.menu-container .social-icons {
  display: flex;
  justify-content: space-between;
}

.menu-container .social-icons .social-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);
  border-radius: 50%;
}
